n8n/demo-data/workflows/all-workflows-export.json
[
  {
    "updatedAt": "2024-02-23T16:58:31.616Z",
    "createdAt": "2024-02-23T16:58:31.616Z",
    "id": "jobAutomationAgentFlow123",
    "name": "Job Application Automation Flow",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "job-trigger",
          "options": {}
        },
        "name": "Browser Extension Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          100,
          300
        ],
        "id": "e1f13b63-234b-4c4f-9e6b-abcdef123456"
      },
      {
        "parameters": {
          "jsCode": "// In a fully configured n8n with NODE_FUNCTION_ALLOW_EXTERNAL=*, \n// you can require our custom agents here.\n// \n// const { parseJobDescription } = require('/data/shared/agents/jd_parser.js');\n// const { scoreFit } = require('/data/shared/agents/fit_scorer.js');\n\nconst rawJD = $input.item.json.body.jobDescription || 'No job description provided';\nconst baseResume = 'Sanjay Saju Jacob - Software Engineer...'; // Replace or load via another node\n\nreturn {\n  json: {\n    rawJD,\n    baseResume,\n    message: 'To run the AI agents, ensure NODE_FUNCTION_ALLOW_EXTERNAL=* is added to your docker-compose.yml environment for n8n.'\n  }\n};"
        },
        "name": "Run JD Parser & Fit Scorer",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          350,
          300
        ],
        "id": "code-node-1"
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": true,
                "value2": true
              }
            ]
          }
        },
        "name": "If Fit is Good",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          600,
          300
        ],
        "id": "if-node-1"
      },
      {
        "parameters": {
          "jsCode": "// Run the Resume Optimizer and Cover Letter Crafter\n// \n// const { optimizeResume } = require('/data/shared/agents/resume_optimizer.js');\n// const { craftCoverLetter } = require('/data/shared/agents/cover_letter_crafter.js');\n\nreturn {\n  json: {\n    status: 'Documents Generated'\n  }\n};"
        },
        "name": "Generate Tailored Resume & Cover Letter",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          850,
          200
        ],
        "id": "code-node-2"
      },
      {
        "parameters": {
          "jsCode": "// Run manual agents\n// const { generateInterviewPrep } = require('/data/shared/agents/interview_prep.js');\n// const { draftOutreach } = require('/data/shared/agents/outreach_drafter.js');\n\nreturn {\n  json: {\n    status: 'Interview Prep Generated'\n  }\n};"
        },
        "name": "Generate Interview Prep & Outreach",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          850,
          400
        ],
        "id": "code-node-3"
      }
    ],
    "connections": {
      "Browser Extension Webhook": {
        "main": [
          [
            {
              "node": "Run JD Parser & Fit Scorer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run JD Parser & Fit Scorer": {
        "main": [
          [
            {
              "node": "If Fit is Good",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Fit is Good": {
        "main": [
          [
            {
              "node": "Generate Tailored Resume & Cover Letter",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Generate Interview Prep & Outreach",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "staticData": null,
    "meta": null,
    "nodeGroups": [],
    "pinData": null,
    "versionId": "d636f88a-a5da-4c79-948c-5e58600c781d",
    "activeVersionId": null,
    "versionCounter": 1,
    "triggerCount": 0,
    "tags": [],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  },
  {
    "updatedAt": "2024-02-23T16:58:31.616Z",
    "createdAt": "2024-02-23T16:58:31.616Z",
    "id": "srOnR8PAY3u4RSwb",
    "name": "Demo workflow",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {},
        "id": "74003dcd-2ac7-4caa-a1cd-adecc5143c07",
        "name": "Chat Trigger",
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1,
        "position": [
          660,
          340
        ],
        "webhookId": "cdb5c076-d458-4b9d-8398-f43bd25059b1"
      },
      {
        "parameters": {},
        "id": "ce8c3da4-899c-4cc4-af73-8096c64eec64",
        "name": "Basic LLM Chain",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          880,
          340
        ]
      },
      {
        "parameters": {
          "model": "llama3.2:latest",
          "options": {}
        },
        "id": "3dee878b-d748-4829-ac0a-cfd6705d31e5",
        "name": "Ollama Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
        "typeVersion": 1,
        "position": [
          900,
          560
        ],
        "credentials": {
          "ollamaApi": {
            "id": "xHuYe0MDGOs9IpBW",
            "name": "Local Ollama service"
          }
        }
      }
    ],
    "connections": {
      "Chat Trigger": {
        "main": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ollama Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "nodeGroups": [],
    "pinData": {},
    "versionId": "2e960fca-07a4-495d-b2a0-fc648220b6b3",
    "activeVersionId": null,
    "versionCounter": 1,
    "triggerCount": 0,
    "tags": [],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  },
  {
    "updatedAt": "2026-06-29T14:00:58.043Z",
    "createdAt": "2026-06-27T16:25:27.727Z",
    "id": "SrQYoBJKHtuSzi6B",
    "name": "My workflow",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "",
            "mode": "url"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          208,
          0
        ],
        "id": "9dd871da-bb3b-4ebe-963b-128fcff34099",
        "name": "Download file",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "Ikipc5Yi8y21UYQP",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "operation": "pdf",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          416,
          0
        ],
        "id": "6bdbd596-b061-427a-b97c-e789fe7090a4",
        "name": "Extract from File"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1m_p1yu6j10cuHK-bImqz86Oraegz5j9ii2u5LJqxg1g",
            "mode": "list",
            "cachedResultName": "Job Search N8N",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m_p1yu6j10cuHK-bImqz86Oraegz5j9ii2u5LJqxg1g/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Filter",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m_p1yu6j10cuHK-bImqz86Oraegz5j9ii2u5LJqxg1g/edit#gid=0"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          624,
          0
        ],
        "id": "484e0f62-0d1a-4637-8b58-4942d6d0a4e0",
        "name": "Get row(s) in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "FOFKiwJyGapJyzk3",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "let url = \"https://www.linkedin.com/jobs/search/?f_TPR=r86400\"\n\nconst keyword = $input.first().json.Keyword\nconst location = $input.first().json.Location\nconst experienceLevel = $input.first().json['Experience Level']\nconst remote = $input.first().json.Remote\nconst easyApply = $input.first().json['Easy Apply']\n\nif (keyword && keyword !== \"\") {\n  url += `&keywords=${keyword}`;\n}\n\nif (location && location !== \"\") {\n  url += `&location=${location}`;\n}\n\nif (experienceLevel && experienceLevel !== \"\") {\n  // Transform experience levels to LinkedIn codes\n  // Internship -> 1, Entry level -> 2, Associate -> 3\n  // Mid-Senior level -> 4, Director -> 5, Executive -> 6\n  const transformedExperiences = experienceLevel\n    .split(\",\")\n    .map((exp) => {\n      switch (exp.trim()) {\n        case \"Internship\": return \"1\";\n        case \"Entry level\": return \"2\";\n        case \"New Grad\": return \"3\";\n        default: return \"\";\n      }\n    })\n    .filter(Boolean);\n  url += `&f_E=${transformedExperiences.join(\",\")}`;\n}\n\nif (remote && remote !== \"\") {\n  // Transform remote options to LinkedIn codes\n  // On-Site -> 1, Remote -> 2, Hybrid -> 3\n  const transformedRemote = remote\n    .split(\",\")\n    .map((e) => {\n      switch (e.trim()) {\n        case \"Remote\": return \"2\";\n        case \"Hybrid\": return \"3\";\n        case \"On-Site\": return \"1\";\n        default: return \"\";\n      }\n    })\n    .filter(Boolean);\n  url += `&f_WT=${transformedRemote.join(\",\")}`;\n}\n\nif (easyApply && easyApply !== \"\") {\n  url += \"&f_EA=true\";\n}\n\nreturn {url}\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          832,
          0
        ],
        "id": "c4bc1e36-3acb-4637-a867-085a3079eb14",
        "name": "LinkedIn Search URL"
      },
      {
        "parameters": {
          "url": "={{ $json.url }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "User-Agent",
                "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
              },
              {
                "name": "Accept-Language",
                "value": "en-US,en;q=0.9"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1040,
          0
        ],
        "id": "dc8f887e-81e6-44bf-a356-13f61d6a0388",
        "name": "Fetch jobs from LinkedIn"
      },
      {
        "parameters": {
          "operation": "extractHtmlContent",
          "extractionValues": {
            "values": [
              {
                "key": "jobs",
                "cssSelector": "ul.jobs-search__results-list li div a[class*=\"base-card\"]",
                "returnValue": "attribute",
                "attribute": "href",
                "returnArray": true
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.html",
        "typeVersion": 1.2,
        "position": [
          1248,
          0
        ],
        "id": "c9e59fa5-49df-47bb-89c0-87ab7845fd2f",
        "name": "HTML"
      },
      {
        "parameters": {
          "fieldToSplitOut": "jobs",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          1456,
          0
        ],
        "id": "c2aec608-8302-4bcd-a00b-2e3d293b89bf",
        "name": "Split Out"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1568,
          816
        ],
        "id": "00612b80-a789-4615-9942-e62584e22fdf",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "amount": 5
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -32,
          208
        ],
        "id": "293a9da0-abfd-491c-9ee6-926fb6de30f1",
        "name": "Wait",
        "webhookId": "12409f66-fbe7-48bd-b9d7-68449f197264"
      },
      {
        "parameters": {
          "url": "={{ $json.jobs }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "User-Agent",
                "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
              },
              {
                "name": "Accept-Language",
                "value": "en-US,en;q=0.9"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          176,
          208
        ],
        "id": "2f0cb178-8831-458f-9c8c-f9fbbc52abbc",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "operation": "extractHtmlContent",
          "extractionValues": {
            "values": [
              {
                "key": "Title",
                "cssSelector": "div h1"
              },
              {
                "key": "Company",
                "cssSelector": "div span a"
              },
              {
                "key": "Location",
                "cssSelector": "div span[class*='topcard__flavor topcard__flavor--bullet']"
              },
              {
                "key": "Description",
                "cssSelector": "div.description__text.description__text--rich"
              },
              {
                "key": "Job ID",
                "cssSelector": "a[data-item-type='semaphore']",
                "returnValue": "attribute",
                "attribute": "data-semaphore-content-urn"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.html",
        "typeVersion": 1.2,
        "position": [
          384,
          208
        ],
        "id": "33d05837-7b57-4f7d-9aa1-d79fe3e71753",
        "name": "HTML1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "240418dc-3349-48d5-ba59-3aa590d71950",
                "name": "Description",
                "value": "={{ $json.Description.replaceAll(/\\s+/g, \" \")}}",
                "type": "string"
              },
              {
                "id": "7b24938f-8b47-488d-9f65-54d036dcffd5",
                "name": "Job ID",
                "value": "={{ $json['Job ID'].split(\":\").last() }}",
                "type": "string"
              },
              {
                "id": "d6addada-9e01-464f-a768-c19f6224c491",
                "name": "Apply Link",
                "value": "={{ \"https://www.linkedin.com/jobs/view/\"+ $json['Job ID'].split(\":\").last()  }}",
                "type": "string"
              },
              {
                "id": "21c89d3a-c8b6-44eb-9719-9ae5716a7c76",
                "name": "Title",
                "value": "={{ $json.Title }}",
                "type": "string"
              },
              {
                "id": "da713845-9a81-486e-bff2-1613105e424d",
                "name": "Company",
                "value": "={{ $json.Company }}",
                "type": "string"
              },
              {
                "id": "1a9a31dd-8d51-4f35-b6b6-ca8a348de5d7",
                "name": "Location",
                "value": "={{ $json.Location }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          592,
          208
        ],
        "id": "43feb566-7427-455c-9109-2a6ba56764f7",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=You are a precise job-matching assistant.\n\nReturn ONE JSON object wrapped in ```json fences, followed by the line END_OF_JSON.\nNo extra prose. No Markdown inside the JSON. No comments.\n\nINPUTS\njob_description: {{ $json.Description }}\nmy_resume: {{ $('Extract from File').item.json.text }}\n\nTASKS\n1) Parse job_description → job_analysis with keys:\n   title (string), company (string), must_have_skills (string[]), nice_to_have_skills (string[]),\n   responsibilities (string[]), years_of_experience (string), education_certifications (string),\n   location_constraints (string), domain_industry_focus (string), tech_stack (string[]), measurable_kpis (string[])\n\n2) Parse my_resume → resume_analysis:\n   core_skills (string[]),\n   tools_tech { programming_languages[], frontend_technologies[], backend_technologies[], databases_devops[] },\n   years_of_experience_key_areas (object of short strings),\n   accomplishments_with_metrics (string[]),\n   education_certs (string[]), domains (string[]), roles_titles (string[]),\n   leadership_collaboration (string[]), location_work_auth (string)\n\n3) Scoring (integer 0–100):\n   - Skills/Tools overlap: 40\n   - Relevant experience & seniority: 25\n   - Responsibilities alignment: 15\n   - Education/Certs fit: 10\n   - Domain/industry fit: 5\n   - Logistics (location/work auth/availability): 5\n   Allow partial credit; deduct up to 10 via red_flags. Clamp to [0,100], integer.\n\n4) Explain the score:\n   For each bucket, provide 1–3 concise evidence bullets. Cite \"JD\" or \"Resume\" and include short quoted fragments (escape quotes).\n\n5) Gaps & Suggestions:\n   List missing/weak requirements with 1–2 concrete upskilling steps per gap.\n\n6) Cover letter:\n   150–220 words (2–4 short paragraphs), tailored to the role/company.\n   Concrete impacts; no greeting/signature. JSON-safe: escape all \" as \\\", use \\n for newlines.\n\nSTRICT CONTENT RULES (to prevent invalid JSON)\n- Do NOT paste raw paragraphs, markdown (**bold**, lists), headings, or multi-line blocks into any array fields.\n- Every array element must be a short phrase (≤ 140 characters), single line, no line breaks, no asterisks, no bullets.\n- If a JD section is long, summarize into short phrases before placing into arrays.\n- Do NOT include unrelated job text inside arrays or objects. Keep each value semantically atomic.\n- Never invent company/title; use \"\" if unknown.\n- No trailing commas anywhere.\n\nSTRICT OUTPUT RULES\n- Output exactly the following schema (keys and types). No extra keys.\n\nSCHEMA\n```json\n{\n  \"job_analysis\": {\n    \"title\": \"\",\n    \"company\": \"\",\n    \"must_have_skills\": [],\n    \"nice_to_have_skills\": [],\n    \"responsibilities\": [],\n    \"years_of_experience\": \"\",\n    \"education_certifications\": \"\",\n    \"location_constraints\": \"\",\n    \"domain_industry_focus\": \"\",\n    \"tech_stack\": [],\n    \"measurable_kpis\": []\n  },\n  \"resume_analysis\": {\n    \"core_skills\": [],\n    \"tools_tech\": {\n      \"programming_languages\": [],\n      \"frontend_technologies\": [],\n      \"backend_technologies\": [],\n      \"databases_devops\": []\n    },\n    \"years_of_experience_key_areas\": {},\n    \"accomplishments_with_metrics\": [],\n    \"education_certs\": [],\n    \"domains\": [],\n    \"roles_titles\": [],\n    \"leadership_collaboration\": [],\n    \"location_work_auth\": \"\"\n  },\n  \"match_score\": 0,\n  \"score_explanation\": [\n    { \"category\": \"Skills/Tools overlap (40 points)\", \"score\": 0, \"evidence\": [] },\n    { \"category\": \"Relevant experience depth & seniority (25 points)\", \"score\": 0, \"evidence\": [] },\n    { \"category\": \"Responsibilities alignment (15 points)\", \"score\": 0, \"evidence\": [] },\n    { \"category\": \"Education/Certs fit (10 points)\", \"score\": 0, \"evidence\": [] },\n    { \"category\": \"Domain/industry fit (5 points)\", \"score\": 0, \"evidence\": [] },\n    { \"category\": \"Logistics (location, work auth, availability) (5 points)\", \"score\": 0, \"evidence\": [] }\n  ],\n  \"red_flags\": [],\n  \"gaps_and_suggestions\": [\n    { \"gap\": \"\", \"suggestion\": \"\" }\n  ],\n  \"cover_letter\": \"\"\n}\n",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          32,
          464
        ],
        "id": "8d9894bd-66fe-4069-aff0-84d351b8b5b4",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          32,
          640
        ],
        "id": "cc137b01-1f25-4ba5-955d-6fb7f947bcd6",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "zvFV4JSzSYuEhplF",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={{ (() => {\n  // 0) Read model output from AI Agent node\n  const raw = String(($('AI Agent').item.json.output ?? ''));\n\n  // 1) Strip code fences\n  let s = raw\n    .replace(/`{2,3}(?:json)?\\s*/gi, '')\n    .replace(/\\s*`{3}\\s*$/gi, '');\n\n  // 1b) Normalize curly quotes (Gemini sometimes emits them)\n  s = s.replace(/[\\u201C\\u201D]/g, '\"').replace(/\\u2019/g, \"'\");\n\n  // 2) Cut at END_OF_JSON if present\n  const endIdx = s.indexOf('END_OF_JSON');\n  if (endIdx !== -1) s = s.slice(0, endIdx);\n\n  // 3) Extract first complete { ... } by brace counting\n  const start = s.indexOf('{');\n  if (start < 0) return {};\n  let depth = 0, inStr = false, esc = false, end = -1;\n  for (let i = start; i < s.length; i++) {\n    const ch = s[i];\n    if (inStr) {\n      if (esc) { esc = false; }\n      else if (ch === '\\\\') { esc = true; }\n      else if (ch === '\"') { inStr = false; }\n    } else {\n      if (ch === '\"') inStr = true;\n      else if (ch === '{') depth++;\n      else if (ch === '}') { depth--; if (depth === 0) { end = i + 1; break; } }\n    }\n  }\n  if (end < 0) return {};\n\n  const cleaned = s.slice(start, end).trim();\n\n  try {\n    return JSON.parse(cleaned);   // JSON mode expects an OBJECT\n  } catch (e) {\n    // As a last resort, return an empty object to keep the run alive\n    return {};\n  }\n})() }}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          432,
          656
        ],
        "id": "4ef714a7-1e5d-4c45-b1fd-d961592ec459",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "You are a ruthless resume editor. Compare the inputs and output ONLY crisp, point-wise changes to improve job fit.\n\nInputs:\n- job_description: {{ $json.Description }}\n- my_resume: {{ $('Extract from File').item.json.text }}\n\nInstructions:\n- Output a numbered list; highest-impact first.\n- One line per point; <= 14 words.\n- Start each line with a tag: [ADD], [REMOVE], [REWRITE], [ORDER], [QUANTIFY], [KEYWORDS], [FORMAT], [FOCUS].\n- Base every point on gaps vs. the job_description; do not invent experience.\n- Prefer concrete actions: skills to add, bullets to rewrite, sections to reorder/remove.\n- Include one line: 'Missing keywords: term1, term2, ...' (only if any).\n- No intros, explanations, code fences, or extra text - points only.\n\nOutput: points only, exactly as specified above.",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          736,
          656
        ],
        "id": "b4795633-1f39-4d56-b19d-d2837d987d89",
        "name": "AI Agent1"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          736,
          816
        ],
        "id": "5e3518b8-e203-45ba-9d02-356edf668c0c",
        "name": "Google Gemini Chat Model1",
        "credentials": {
          "googlePalmApi": {
            "id": "zvFV4JSzSYuEhplF",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1m_p1yu6j10cuHK-bImqz86Oraegz5j9ii2u5LJqxg1g",
            "mode": "list",
            "cachedResultName": "Job Search N8N",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m_p1yu6j10cuHK-bImqz86Oraegz5j9ii2u5LJqxg1g/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 11035642,
            "mode": "list",
            "cachedResultName": "Result",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m_p1yu6j10cuHK-bImqz86Oraegz5j9ii2u5LJqxg1g/edit#gid=11035642"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Link": "={{ $('Edit Fields').item.json['Apply Link'] }}",
              "Title": "={{ $('Edit Fields').item.json.Title }}",
              "Company ": "={{ $('Edit Fields').item.json.Company }}",
              "Locaton": "={{ $('Edit Fields').item.json.Location }}",
              "Cover Letter": "={{ $('Edit Fields1').item.json.cover_letter }}",
              "Score": "={{ $('Edit Fields1').item.json.match_score }}",
              "Skills": "={{ $('Edit Fields1').item.json.resume_analysis.core_skills }}",
              "Improvements": "={{ $('AI Agent1').item.json.output }}"
            },
            "matchingColumns": [
              "Link"
            ],
            "schema": [
              {
                "id": "Title",
                "displayName": "Title",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Company ",
                "displayName": "Company ",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Locaton",
                "displayName": "Locaton",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Link",
                "displayName": "Link",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Score",
                "displayName": "Score",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Cover Letter",
                "displayName": "Cover Letter",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Skills",
                "displayName": "Skills",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Improvements",
                "displayName": "Improvements",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Resume Link",
                "displayName": "Resume Link",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1072,
          656
        ],
        "id": "ca1e037d-bb59-455c-8738-f1e1ce89f2b4",
        "name": "Append or update row in sheet1",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "FOFKiwJyGapJyzk3",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "<your e-mail address>",
          "subject": "Job search results",
          "emailType": "text",
          "message": "Hey, your job search results with resume changes are ready in your sheet for today",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          1984,
          800
        ],
        "id": "d2b5241e-c511-42c9-8301-e75c1b5c22c9",
        "name": "Send a message",
        "webhookId": "f0d6158b-a72b-4e84-8f3e-0e8ecfaeda72",
        "credentials": {
          "gmailOAuth2": {
            "id": "Zd1C7CJsZcTcApAG",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Add Google Cloud Credentials\n\n1. sign in with google\n2. Upload your resume and change to anyone can view\n3. Paste your link\n",
          "height": 192
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          112,
          -240
        ],
        "typeVersion": 1,
        "id": "9100d62e-1108-4ba2-b6dd-91576b1c015b",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## Add Google Cloud Credentials\n\n1. sign in with google\n2. Prepare your sheet filter\n3. Add your sheet Link",
          "height": 176
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          576,
          -224
        ],
        "typeVersion": 1,
        "id": "ff1c1aad-5ab0-49c3-805a-092e1e371985",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## Add Google Cloud Credentials\n\n- sign in with google\n- Enter your e-mail address"
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1904,
          592
        ],
        "typeVersion": 1,
        "id": "9d6df7e1-3a16-483b-add7-9d0e2fc95498",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "## Add Google Cloud Credentials\n\n1. sign in with google\n2. Select your sheet and sub sheet",
          "height": 176
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1008,
          448
        ],
        "typeVersion": 1,
        "id": "986e4584-7f86-4a56-97d4-f6a09835808e",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "content": "## Add Gemini Free tier api key\n\n1. sign in with google\n2. Create API key and project\n3. Add Free Tier key",
          "height": 176
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -16,
          784
        ],
        "typeVersion": 1,
        "id": "b4e4313d-e9e1-4e81-a613-de7de233eec1",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "content": "## Add Gemini Free tier api key\n\n1. sign in with google\n2. Create API key and project\n3. Add Free Tier key",
          "height": 176
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          640,
          464
        ],
        "typeVersion": 1,
        "id": "65c1327d-e61b-47ee-bd55-8ddf43c58cd8",
        "name": "Sticky Note5"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -48,
          -150
        ],
        "id": "e0b772c7-0130-4e31-8977-62a21e89f2a7",
        "name": "When clicking \"Test workflow\""
      },
      {
        "parameters": {
          "content": "# Job search ultimate workflow - @jugaldb\n\n1. Takes about 1 hour to run\n2. Finds all relevant jobs posted in last one day, runs at 5 AM everyday\n3. Sends you an e-mail whne complete",
          "height": 320
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          640,
          -624
        ],
        "typeVersion": 1,
        "id": "c28849bf-1393-41d1-88e7-aa2d1c8c3c8c",
        "name": "Sticky Note6"
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "YOUR_TEX_FILE_ID_HERE",
            "mode": "id"
          },
          "options": {
            "googleFileConversion": {
              "conversion": {
                "docsToFormat": "text/plain"
              }
            }
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          1280,
          656
        ],
        "id": "a1b2c3d4-0001-4001-b001-000000000001",
        "name": "Download LaTeX Source",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "Ikipc5Yi8y21UYQP",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=You are an expert LaTeX resume editor. Apply every improvement instruction below to the LaTeX resume source.\n\nTarget Role: {{ $('Edit Fields').item.json.Title }} at {{ $('Edit Fields').item.json.Company }}\n\nSTRICT RULES:\n1. Preserve ALL LaTeX commands, packages, \\begin/\\end blocks, document structure exactly.\n2. Only modify text content inside LaTeX commands.\n3. [ADD] → Insert content in most appropriate section.\n4. [REMOVE] → Delete the described content.\n5. [REWRITE] → Rewrite specified bullet to better match the job.\n6. [KEYWORDS] → Weave keywords naturally into existing bullets.\n7. [QUANTIFY] → Add plausible metrics to existing bullets only.\n8. [ORDER] → Reorder sections/bullets as described.\n9. [FORMAT] → Adjust formatting as described.\n10. [FOCUS] → Strengthen bullets for the described aspect.\n11. Do NOT invent new jobs, companies, or skills not in resume.\n12. Return ONLY complete LaTeX source. No markdown fences. No commentary.\n13. CRITICAL: Escape ALL special LaTeX characters in any text you write: % → \\%, & → \\&, $ → \\$, # → \\#, _ → \\_ (when used in text, not in commands).\n\nBase LaTeX Resume:\n\"\"\"\n{{ $('Download LaTeX Source').item.binary.data.toBase64().toString() }}\n\"\"\"\n\nImprovement Instructions:\n\"\"\"\n{{ $('AI Agent1').item.json.output }}\n\"\"\"",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          1488,
          656
        ],
        "id": "a1b2c3d4-0002-4002-b002-000000000002",
        "name": "AI Agent2 Apply LaTeX Improvements"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          1488,
          816
        ],
        "id": "a1b2c3d4-0002-4002-b002-000000000009",
        "name": "Google Gemini Chat Model2",
        "credentials": {
          "googlePalmApi": {
            "id": "zvFV4JSzSYuEhplF",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const source = $input.item.json.output;\n\n// Escape unescaped LaTeX special characters in AI-generated text.\n// Process line-by-line: preserve pure comment lines (starting with %),\n// fix bare % on all other lines so they don't terminate \\resumeItem{} args.\nconst fixed = source.split('\\n').map(line => {\n  if (line.trimStart().startsWith('%')) return line;\n  // Replace % not already preceded by a backslash\n  return line.replace(/(?<!\\\\)%/g, '\\\\%');\n}).join('\\n');\n\nreturn [{ json: { latex: fixed } }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1592,
          656
        ],
        "id": "a1b2c3d4-0010-4010-b010-000000000010",
        "name": "Fix LaTeX Special Chars"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://latex-compiler:3001/compile",
          "sendBody": true,
          "contentType": "json",
          "body": {
            "source": "={{ $json.latex }}"
          },
          "options": {
            "response": {
              "response": {
                "responseFormat": "file",
                "outputPropertyName": "pdf"
              }
            },
            "timeout": 120000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1696,
          656
        ],
        "id": "a1b2c3d4-0003-4003-b003-000000000003",
        "name": "Compile LaTeX to PDF"
      },
      {
        "parameters": {
          "operation": "createFolder",
          "name": "={{ $('Edit Fields').item.json['Job ID'] + '_' + $('Edit Fields').item.json.Company.replace(/[^a-zA-Z0-9]/g, '_') }}",
          "driveId": {
            "__rl": true,
            "value": "MY_DRIVE",
            "mode": "list",
            "cachedResultName": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "YOUR_TAILORED_RESUMES_FOLDER_ID_HERE",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          1904,
          656
        ],
        "id": "a1b2c3d4-0004-4004-b004-000000000004",
        "name": "Create Drive Folder",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "Ikipc5Yi8y21UYQP",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "operation": "upload",
          "name": "={{ 'Resume_' + $('Edit Fields').item.json.Company.replace(/[^a-zA-Z0-9]/g, '_') + '_' + $('Edit Fields').item.json.Title.replace(/[^a-zA-Z0-9]/g, '_') + '.pdf' }}",
          "driveId": {
            "__rl": true,
            "value": "MY_DRIVE",
            "mode": "list",
            "cachedResultName": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "binaryData": true,
          "binaryPropertyName": "pdf",
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          2112,
          656
        ],
        "id": "a1b2c3d4-0005-4005-b005-000000000005",
        "name": "Upload PDF to Drive",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "Ikipc5Yi8y21UYQP",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Build a shareable Drive link from the uploaded file ID\nconst fileId = $input.item.json.id;\nconst driveLink = `https://drive.google.com/file/d/${fileId}/view?usp=sharing`;\nreturn { driveLink, fileId };\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2320,
          656
        ],
        "id": "a1b2c3d4-0006-4006-b006-000000000006",
        "name": "Update Sheet Resume Link"
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1m_p1yu6j10cuHK-bImqz86Oraegz5j9ii2u5LJqxg1g",
            "mode": "list",
            "cachedResultName": "Job Search N8N",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m_p1yu6j10cuHK-bImqz86Oraegz5j9ii2u5LJqxg1g/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 11035642,
            "mode": "list",
            "cachedResultName": "Result",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m_p1yu6j10cuHK-bImqz86Oraegz5j9ii2u5LJqxg1g/edit#gid=11035642"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Link": "={{ $('Edit Fields').item.json['Apply Link'] }}",
              "Resume Link": "={{ $json.driveLink }}"
            },
            "matchingColumns": [
              "Link"
            ],
            "schema": [
              {
                "id": "Link",
                "displayName": "Link",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Resume Link",
                "displayName": "Resume Link",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          2528,
          656
        ],
        "id": "a1b2c3d4-0007-4007-b007-000000000007",
        "name": "Write Resume Link to Sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "FOFKiwJyGapJyzk3",
            "name": "Google Sheets account"
          }
        }
      }
    ],
    "connections": {
      "Download file": {
        "main": [
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "Get row(s) in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet": {
        "main": [
          [
            {
              "node": "LinkedIn Search URL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LinkedIn Search URL": {
        "main": [
          [
            {
              "node": "Fetch jobs from LinkedIn",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch jobs from LinkedIn": {
        "main": [
          [
            {
              "node": "HTML",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTML": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "HTML1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTML1": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "AI Agent1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent1": {
        "main": [
          [
            {
              "node": "Append or update row in sheet1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append or update row in sheet1": {
        "main": [
          [
            {
              "node": "Download LaTeX Source",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download LaTeX Source": {
        "main": [
          [
            {
              "node": "AI Agent2 Apply LaTeX Improvements",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model2": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent2 Apply LaTeX Improvements",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent2 Apply LaTeX Improvements": {
        "main": [
          [
            {
              "node": "Fix LaTeX Special Chars",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fix LaTeX Special Chars": {
        "main": [
          [
            {
              "node": "Compile LaTeX to PDF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compile LaTeX to PDF": {
        "main": [
          [
            {
              "node": "Create Drive Folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Drive Folder": {
        "main": [
          [
            {
              "node": "Upload PDF to Drive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload PDF to Drive": {
        "main": [
          [
            {
              "node": "Update Sheet Resume Link",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Sheet Resume Link": {
        "main": [
          [
            {
              "node": "Write Resume Link to Sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Write Resume Link to Sheet": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking \"Test workflow\"": {
        "main": [
          [
            {
              "node": "Download file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "1da5d9ac3e2974ca203c09fc21d9eb832e61e497fa9e11c9fbcaae0e18a9c185"
    },
    "nodeGroups": [],
    "pinData": {},
    "versionId": "c8416696-bd86-46cc-a988-b65d2dc77530",
    "activeVersionId": null,
    "versionCounter": 122,
    "triggerCount": 0,
    "tags": [],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  }
]